/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */
html {-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;}

/*----------- apply a natural box layout model to all elements --------------*/
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }


/*----------- BODY --------------*/
/*
body {
    font-size: 16px;
    font-family: 'Josefin Sans', sans-serif;
    font-weight:300;
    color: black;
    
}

*/
/*----------- HEADER --------------*/




/*----------- NAVIGATION --------------*/


/*----------- MAIN --------------*/
/*
main {
    display: block;
    margin: auto;

    max-width: 400px;
    
              

    }


main h1 {color:#31B404; padding: 0 2%; text-align:  center;}


main img{
    width:100%;
    margin: 0 2%;
}
*/

main {
    display: grid;
    justify-content: center;
    align-items: center;
    row-gap: 10px;
}
picture img[data-src] {
	filter: blur(0.2em);
}
picture img {
	filter: blur(0em);
	transition: filter 0.5s;
	margin: 5px;
	min-width: 300px;
}

/*----------- FOOTER --------------*/




/*----- Clearfix: Force an Element not to collapse -----*/

