header img{
	height:3rem;
	
	}
	
	header #announcement{
	background-color:#ffcc00;
	}
	header h1 {
	font-family: 'Fjalla One', sans-serif;
	color: #ffffff;
	font-size: 2rem;
	float: left;
	position: center;
	
	}
	
	header h2 {
	font-family: 'Montserrat', sans-serif;
	font-size: .8rem;
	text-align: center;
	}
	
	
	body{
	width: 100%;
		font-family: 'Montserrat', sans-serif;
		background-color: #ffffff;
	}
	
	header {
	background-color: #264653;
	display: flex;
	flex-flow: column;
	align-items: center;
	justify-content: center;
	padding: 10px;
	max-width: 100%;
	}
	
	footer{
	background-color: #2a9daf;
	padding: 25px;
	text-align: center;
	max-width: 100%;
	}
	
	header,
	nav,
	main,
	footer {
		font-family: 'Montserrat', sans-serif;
	}
	
	h1 {
	font-size: 1rem;
	text-align: center;
	}
	
	nav {
	background-color: #2a9daf;
	text-align: center;
	}
	
	nav button {
	margin: 2%;
	background-color: transparent;
	border: none;
	font-size: 1.6rem;
	Color: #555;
	text-align: left;
	}
	
	nav ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	}
	
	nav li a {
	display: block;
	color: #fff;
	text-align: center;
	padding: 0.8rem 2%;
	text-decoration: none;
	font-size: 0.95rem;
	}
	
	nav a:hover {
	background-color: #e76f51;
	color: #36454f;
	}
	
	nav .active {
	background-color: #e76f51;
	color: #36454f;
	}

	
	.weatherSummary {
	margin: 10px auto;
	position: relative;
	}
	
	.info {
	position: absolute;
	top: 10px;
	left: 20px;
	background: #ffffff;
	padding: .5rem;
	box-shadow: 0 0 30px #111;
	opacity: .75;
	}
	
	main article ul {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
	color: #111111;
	text-align: center;
	padding: 1rem 2%;
	font-size: 0.95rem;
	list-style-type: none;
	}
	
	.textbox{
	padding: 20px;
	}
	article h1{
	text-align: left;
	}
	
	article ul img{
	padding: 10px;
	height: 60px;
	width: 60px;
	}
	
	main {
	display: grid;
	grid-template-columns: 1fr;
	font-size: 0.8rem;
	}
	main article {
	margin: 0.5rem;
	border: 3px solid #E9c46A;
	padding: 0 1rem;
	background-color: #eee;
	}
	
	main img{
	max-width: 100%;
	}
	
	footer {
	flex: 0 1 100%;
	font-size: 12px;
	}
	
	
	footer .resources{
	text-align: center;
	}
	
	.responsive li {
	display: block;
	}
	
	.banner{
	display:none;
	}
	
	
	@media only screen and (max-width: 40rem){
	
	
	nav ul.hide{
	display: none;
	}
	
	article.hide{
	display: none;
	}
	
	.floatPic{
	width: 400px;
	position: relative;
	left: 10px;
	box-shadow: 0 0 10px #111;
	
	}
	
	 footer .hide{
	display: none;
	}
	
	header h2.hide{
	display: none;
	}
	
	}	

	.info .icon{
		align-content: center;
	}