/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */
html {-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;}

/*----------- apply a natural box layout model to all elements --------------*/
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }


/*----------- BODY --------------*/
body {
    font-size: 16px;
    font-family: 'Josefin Sans', sans-serif;
    font-weight:300;
    color: black;
    
}


/*----------- HEADER --------------*/
div#headerWrapper {background-color: #FF7212;}
header {
    padding: 0rem 1%;
    display: flex;
    grid-template-columns: 110px auto;
    color: #fff;
    font-family: 'Fjalla One', sans-serif;
    
}

header figure.logo {
    float: left;
    margin: 0 10px 0 0;
}

header img {float: left; width: 75px;}
    
header h1 {font-size: 1.3rem; font-weight: 700; margin-top: 1rem;}
header h2 {font-size: 1rem; font-weight: 400; padding-top: .2rem;}


h1, h2 {margin: 0;}


/*----------- NAVIGATION --------------*/
div#navWrapper {background-color: #0B610B;}
nav button {
    margin: .2rem 2%;
    background-color: transparent;
    border:none;
    font-size: 1.6rem;
    color: #fff;
}
nav {
    font-family: 'Fjalla One', sans-serif;
}
nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav ul li a {
    display: block;
    padding: .8rem 2%;
    text-decoration: none;
    color: rgba(255,255,255,0.8);
    border-top: 1px solid #105410;
    
}

nav ul li.active a {
    background-color: #31B404;
    color: #ff0;
}

nav ul li a:hover {
    background-color: #0A2A0A;
    color: #fff;
}

nav ul.hide {display: none;}

/*----------- MAIN --------------*/

main {
    padding: 0 2%;
    min-height: 20rem;
}

main h1 { 
    margin: 2% 0 0 0;
    color: #31B404;
}

/*------------ FORM ----------------*/

form fieldset {
    margin: 2rem 0;
    border: 1px solid #FF7212;
    border-radius: 10px;
    padding: .5rem 2%;
}

form legend {
    color: #FF7212;
    margin: 0 1rem;
    padding: 0 .5rem;
}

form label.top, form div, form label.flexly {
    display: block;
    padding-top: 1rem;
    color: #0B610B;
    font-size: .8rem;
}

form label.top input, form label.top select {
    -webkit-appearance: none;
    display: block;
    font-size: 1rem;
    border: solid 1px #999;
    border-radius: 4px;
    padding: .75rem;
    color: #555;
    width: 100%;
    max-width: 20rem;
    background-color: rgba(0,0,0,0.1);

}

form label.flexly input {
    
    display: block;
    padding: 1rem 0 0 0;
    align-items: center;
}

#ratingvalue {
    margin: 0 15px;
    
}

form label.sbs {
    display: block;
    padding: .75rem 0;
    color: #555;
}

form input.submitBtn {
    border: none;
    background-color: #9c2c13;
    color: white;
    border-radius: 1rem;
    padding: .75rem 1.5rem;
    margin: 0 0 2rem 2%;
    width: 96%;
    max-width: 20rem;
}

form label.top input:required {
    border-left: red solid 6px;
}

form label.top input:required:valid {
    border-left: green solid 6px;
}



/*----------- FOOTER --------------*/
footer {
    background-color: #FF7212;
    padding: .5rem 2%;
    text-align: center;
    color: white;
    font-family: 'Fjalla One', sans-serif;
}



/*----- Clearfix: Force an Element not to collapse -----*/
.clearfix:after {
  content: "";
  display: table;
  clear: both;
  
}
