*{
  margin: auto;
}

h1{
font-family: 'Montserrat', sans-serif;
font-size: 1.5rem;
margin-left: 25px;
}

p{
  font-family: 'Montserrat', sans-serif;
  font-size: 1rem;
  margin-left: 25px;
}


.grid{
  display: grid;
  grid-template-columns: repeat(auto-fill, 300px);
  grid-gap: 25px;
  overflow: auto;
  resize: horizontal;
  margin-left: 25px;
  margin-top: 25px;
}

picture img[data-src]{
  filter: blur(0.5em);
}

picture img{
  filter: blur(0em);
  transition: filter 0.5s;

}