/* 64em is also 1028px (if basefont is 16px) */
@media only screen and (min-width: 1141px) {

    header, nav {
        max-width: 1024px;
        margin: 0 auto;
    }

    
/*----------- BODY --------------*/



/*----------- HEADER --------------*/



/*----------- NAVIGATION --------------*/
        
nav ul li {flex-basis: auto; }
nav ul li a {padding: .5rem 1rem;}
  

/*----------- MAIN --------------*/

main {
   
    margin: 0 auto 1rem auto;
}

main h1 { 
    text-align: center;
    
}

.wrapper {
    
    display: flex;
    
  }

  .norm1, .norm2, .norm3 {
    
    width: 98%;
    display:block;
    margin:auto;

  }


  /* hover effect */
.norm:hover {box-shadow: 0 0 50px #333;}

/*----------- FOOTER --------------*/


} /* end of media query */